.upperNav{
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
}
.upperNav i{
 margin: 1rem;
 padding: .5rem;
}
.lowerNav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
.lowerNav img{
width: 10rem;



}
.lowerLeft{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.lowerLeft a{
    text-decoration: none;

}
.lowerLeft a:hover{
    color: #5ada3a;
}
.lowerRight{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.lowerRight button{
height: 3rem;
width: 10rem;
}
#cart{
    background-color: white;
}
#search{
    background-color: white;
}
#orderOnline{
    background-color: rgb(210,65,45);
    color: white;
    margin-right: 1rem;
}