*{
    

font-family: 'Roboto', sans-serif;
}





.menuMiddle{
    background-image:url("https://img.freepik.com/free-vector/realistic-pizza-ads-banner_52683-70644.jpg?w=900&t=st=1683019454~exp=1683020054~hmac=62ac9efadd6aeae2caf9cbd5c97e1bf7ca3d1a81784690bfd14c1f1156d5cb55") ;
    width: 89rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: 89rem 20rem;
}
.menuMiddle{
  color: white;
}
.centerMenu p{
    margin-top:0rem;
    
}
.centerMenu{
    
    position: relative;
    top: 3rem;
    text-align: center;
}