*{
    

font-family: 'Roboto', sans-serif;
}





.menuMiddle{
    background-image:url("https://www.shutterstock.com/shutterstock/photos/1519934609/display_1500/stock-vector-pepperoni-cheese-pizza-banner-ads-with-rich-ingredients-in-d-illustration-flat-lay-angle-1519934609.jpg") ;
    width: 89rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: 100vw 50vh;
    
}
.menuMiddle{
  color: white;
}
.centerMenu p{
    margin-top:0rem;
    
}
.centerMenu{
    
    position: relative;
    top: 3rem;
    text-align: center;
    color: rgb(202, 41, 41);
}